* { box-sizing: border-box; }

body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 10rem 0;
    line-height: 1.5;
    background-color: #1c003d;
    color: #f3e6ff;
    text-align: center;
}

h1 {
  font-size: 7rem;
  margin: 0 0 2rem 0;
  font-family: Impact, sans-serif;
}

h2 {
  font-size: 2rem;
  margin: 0 0 .4rem 0;
}

.hero {
  margin-bottom: 6rem;
}

.hero p {
  margin: 0;
}

button, input {
    font: inherit;
    padding: 0.7rem 1rem;
    margin: 0.25rem;
    border-radius: 1rem;
    border: none;
    background-color: #f3e6ff;
    transition: ease-in all 100ms;
}

button:hover {
    cursor: pointer;
    background-color: #b5adc3;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin: 0.75rem 0;
}

nav a {
    margin-right: 1rem;
}

.feedback {
    font-weight: bold;
    margin-top: 1rem;
}
